@import url("http://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("http://fonts.googleapis.com/css?family=VT323");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

.App {
  text-align: center;
  font-family: "Press Start 2P", "VT323", "Gothic A1", "DM Serif Text";
}
html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

}

body::-webkit-scrollbar {
  width: 0px;
}

:root {
  --main-border-color: #8EFCFC;
  --home-border-color: #FA7A69;
}

h1, h2, h3 {
  font-family: 'DM Serif Text', serif;
}

div {
  font-size: .9rem;
  font-family: 'Gothic A1', sans-serif;

}

button {
  font-size: 1rem;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 300;
}

form {
  font-size: 1.2rem;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 300;
}

h1 { 
  font-size: 3rem;
}
h3 { 
  font-size: 1.8rem;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
}

.underline {
  text-decoration: underline;
}

input, select {
  width: 100%;
  padding: 2px 6px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input {
  width: 100%;
  background-color: #FFFFFFC0;
  color: #000;
  padding: 2px 6px;
  margin: 8px 4px;
  border: 1px solid #00000050;
  border-radius: 4px;
  cursor: pointer;
}


input:hover {
  background-color: #ebff12;
}

.checkbox {
  display: inline-block; 
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
}

a {
  text-decoration: none; /* no underline */
}